.Costs-container{
    display: flex;
    min-height: 30px;
}
.Costs-container > input{
    font-size: 100%;
    border: 1px;
    border-radius: 7px;
    height: 3vh;
    -webkit-box-shadow: 7px 9px 21px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 7px 9px 21px -1px rgba(0,0,0,0.6);
    box-shadow: 7px 9px 21px -1px rgba(0,0,0,0.6);
    margin: 5px;
}
select{
    font-size: 100%;
    border: 1px;
    border-radius: 7px;
    height: 3vh;
    -webkit-box-shadow: 7px 9px 21px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 7px 9px 21px -1px rgba(0,0,0,0.6);
    box-shadow: 7px 9px 21px -1px rgba(0,0,0,0.6);
    margin: 5px;
}
.Costs-container > button{
    font-size: 100%;
    border: 1px;
    border-radius: 7px;
    height: 3vh;
    -webkit-box-shadow: 7px 9px 21px -1px rgba(0,0,0,0.6);
    -moz-box-shadow: 7px 9px 21px -1px rgba(0,0,0,0.6);
    box-shadow: 7px 9px 21px -1px rgba(0,0,0,0.6);
    margin: 5px;
    width: 8vh;
}