
.navBar{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
/* button{
    text-decoration:none; 
    outline: none;
    text-align:center; 
    padding:11px 32px; 
    border:none; 
    border-radius: 17px; 
    font:18px "Palatino Linotype", "Book Antiqua", Palatino, serif; 
    font-weight:bold; 
    color:#0f0d0f; 
    background-color: #fa4e88;
    cursor: pointer;
    box-shadow: 0 2px 25px rgba(248, 60, 185, 0.5);
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
} */
.List{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer; 
    font-size: 20px;
    max-height: 100vh;
}  
